body {
  padding: 0;
  color: #24292e;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content {
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  position: relative;
}

.logo {
  width: 50px;
  margin: 1em;
}

.title {
  font-size: 36px;
  text-align: center;
}

.excluded {
  text-decoration: line-through;
  color: #9E9E9E;
  cursor: help;
}

.apidiff {
  display: flex;
  margin: 0 auto;
  margin-top: 0px;
  align-self: center;
  flex: auto;
  width: 100%;
  overflow: hidden;
}

browser-name {
  display: block;
  font-size: 36px;
  font-weight: bold;
}

summary {
  color: #9E9E9E;
  cursor: pointer;
}

a {
  color: #0366d6;
  text-decoration: none;
}

@media only screen and (max-width: 850px) { }

.missing {
  color: red;
}

.failing-tests {
  color: #e91e63;
}

.supported {
  color: green;
}

ul {
  padding-inline-start: 0;
}

li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

api-status {
  width: 30%;
  flex: auto;
  margin: 10px;
}
