body {
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.toc {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.details {
  max-width: 800px;
}

.title {
  font-size: 28px;
  text-align: center;
}

.toc-entry {
  font-size: 28px;
  display: flex;
  margin: 10px;
}

.toc-entry > div {
  margin: 0 10px;
}

.info {
  font-size: 14px;
  text-align: center;
  color: #666;
}

.number {
  text-align: center;
}

.browser-name {
  width: 150px;
}

.details .browser-name {
  font-size: 24px;
  margin: 20px 0 10px;
}

.test-list {
  margin: 5px 0;
}

.test-list > div {
  margin: 5px 0;
}

.test-list a {
  color: #666;
  margin: 0 4px;
}
